package ${packageName}.service.impl;

import java.util.List;
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import com.ruoyi.common.utils.DateUtils;
#end
#end
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
#if($table.sub)
import java.util.ArrayList;
import com.ruoyi.common.utils.StringUtils;
import org.springframework.transaction.annotation.Transactional;
#set($subTableType = $table.subTableType)
#if(!$subTableType)
#set($subTableType = 1)
#end
#if($subTableType == 1)
import ${packageName}.domain.${subClassName};
#elseif($subTableType == 2)
#foreach ($subTableInfo in $table.subTables)
import ${packageName}.domain.${subTableInfo.subClassName};
#end
#end
#end
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service 
{
    @Autowired
    private ${ClassName}Mapper ${className}Mapper;

    /**
     * 查询${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}
     */
    @Override
    public ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField})
    {
        return ${className}Mapper.select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField});
    }

    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}
     */
    @Override
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className})
    {
        return ${className}Mapper.select${ClassName}List(${className});
    }

    /**
     * 新增${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int insert${ClassName}(${ClassName} ${className})
    {
#foreach ($column in $columns)
#if($column.javaField == 'createTime')
        ${className}.setCreateTime(DateUtils.getNowDate());
#end
#end
#if($table.sub)
#set($subTableType = $table.subTableType)
#if(!$subTableType)
#set($subTableType = 1)
#end
#if($subTableType == 1)
        int rows = ${className}Mapper.insert${ClassName}(${className});
        insert${subClassName}(${className});
        return rows;
#elseif($subTableType == 2)
        int rows = ${className}Mapper.insert${ClassName}(${className});
        
        // 处理多个子表
#foreach ($subTableInfo in $table.subTables)
        insert${subTableInfo.subClassName}(${className});
#end
        
        return rows;
#end
#else
        return ${className}Mapper.insert${ClassName}(${className});
#end
    }

    /**
     * 修改${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int update${ClassName}(${ClassName} ${className})
    {
#foreach ($column in $columns)
#if($column.javaField == 'updateTime')
        ${className}.setUpdateTime(DateUtils.getNowDate());
#end
#end
#if($table.sub)
#set($subTableType = $table.subTableType)
#if(!$subTableType)
#set($subTableType = 1)
#end
#if($subTableType == 1)
        ${className}Mapper.delete${subClassName}By${subTableFkClassName}(${className}.get${pkColumn.capJavaField}());
        insert${subClassName}(${className});
#elseif($subTableType == 2)
        // 删除多个子表数据
#foreach ($subTableInfo in $table.subTables)
        ${className}Mapper.delete${subTableInfo.subClassName}By${subTableInfo.subTableFkClassName}(${className}.get${pkColumn.capJavaField}());
#end
        
        // 插入多个子表数据
#foreach ($subTableInfo in $table.subTables)
        insert${subTableInfo.subClassName}(${className});
#end
#end
#end
        return ${className}Mapper.update${ClassName}(${className});
    }

    /**
     * 批量删除${functionName}
     * 
     * @param ${pkColumn.javaField}s 需要删除的${functionName}主键
     * @return 结果
     */
    @Override
    public int delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s)
    {
        return ${className}Mapper.delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s);
    }

    /**
     * 删除${functionName}信息
     * 
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return 结果
     */
    @Override
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField})
    {
        ${className}Mapper.delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField});
#if($table.sub)
#set($subTableType = $table.subTableType)
#if(!$subTableType)
#set($subTableType = 1)
#end
#if($subTableType == 1)
        return ${className}Mapper.delete${subClassName}By${subTableFkClassName}(${pkColumn.javaField});
#elseif($subTableType == 2)
        int result = 1;
#foreach ($subTableInfo in $table.subTables)
        result = ${className}Mapper.delete${subTableInfo.subClassName}By${subTableInfo.subTableFkClassName}(${pkColumn.javaField});
#end
        return result;
#end
#end
    }

#if($table.sub)
#set($subTableType = $table.subTableType)
#if(!$subTableType)
#set($subTableType = 1)
#end
#if($subTableType == 1)
    /**
     * 新增${subTableName}信息
     * 
     * @param ${className} ${functionName}对象
     */
    public void insert${subClassName}(${ClassName} ${className})
    {
        List<${subClassName}> ${subclassName}List = ${className}.get${subClassName}List();
        String ${pkColumn.javaField} = ${className}.get${pkColumn.capJavaField}();
        if (StringUtils.isNotNull(${subclassName}List))
        {
            List<${subClassName}> list = new ArrayList<${subClassName}>();
            for (${subClassName} ${subclassName} : ${subclassName}List)
            {
                ${subclassName}.set${subTableFkClassName}(${pkColumn.javaField});
                list.add(${subclassName});
            }
            if (list.size() > 0)
            {
                ${className}Mapper.batch${subClassName}(list);
            }
        }
    }
#elseif($subTableType == 2)
#foreach ($subTableInfo in $table.subTables)
    /**
     * 新增${subTableInfo.subTableName}信息
     * 
     * @param ${className} ${functionName}对象
     */
    public void insert${subTableInfo.subClassName}(${ClassName} ${className})
    {
        List<${subTableInfo.subClassName}> ${subTableInfo.subclassName}List = ${className}.get${subTableInfo.subClassName}List();
        String ${pkColumn.javaField} = ${className}.get${pkColumn.capJavaField}();
        if (StringUtils.isNotNull(${subTableInfo.subclassName}List))
        {
            List<${subTableInfo.subClassName}> list = new ArrayList<${subTableInfo.subClassName}>();
            for (${subTableInfo.subClassName} ${subTableInfo.subclassName} : ${subTableInfo.subclassName}List)
            {
                ${subTableInfo.subclassName}.set${subTableInfo.subTableFkClassName}(${pkColumn.javaField});
                list.add(${subTableInfo.subclassName});
            }
            if (list.size() > 0)
            {
                ${className}Mapper.batch${subTableInfo.subClassName}(list);
            }
        }
    }
#end
#end
#end
}